if VIDEO_NXP_CAPTURE

config NXP_CAPTURE_DECIMATOR
    bool "Enable capture decimator"
    default n
    ---help---
      Say y here to enable decimator

config NXP_CAPTURE_MIPI_CSI
    bool "Enable capture mipi csi interface"
    default n
    ---help---
      Say y here to enable capture mipi csi interface

config TURNAROUND_VIP_RESET
    bool "Apply turnaround vip reset"
    default n
    ---help---
      Say y here to apply turnaround vip reset code

config LOOPBACK_SENSOR_DRIVER
    bool "Loopback Capture Sensor Driver for Testing"
    default n
    ---help---
      Say y here to add loopback test sensor

endif
