#
# FTL device driver configuration
#

menuconfig NEXELL_FTL
	bool "Nexell NAND FTL"
	depends on BLOCK
	default n
	---help---

if NEXELL_FTL

config NAND_FTL
	depends on BLOCK
	depends on ARCH_NXP4330 || ARCH_S5P4418 || ARCH_S5P6818
	tristate "NEXELL Nand FTL Driver"

endif # NEXELL_FTL
