#
# Exynos multimedia device drivers
#
config VIDEO_EXYNOS
	bool "Exynos Multimedia Devices"
	depends on ARCH_EXYNOS5
	default n
	select VIDEO_FIXED_MINOR_RANGES
	help
	  This is a representative exynos multimedia device.

if VIDEO_EXYNOS
	source "drivers/media/video/exynos/mdev/Kconfig"
	source "drivers/media/video/exynos/fimc-lite/Kconfig"
	source "drivers/media/video/exynos/mipi-csis/Kconfig"
	source "drivers/media/video/exynos/gsc/Kconfig"
	source "drivers/media/video/exynos/jpeg/Kconfig"
	source "drivers/media/video/exynos/fimg2d/Kconfig"
	source "drivers/media/video/exynos/mfc/Kconfig"
	source "drivers/media/video/exynos/tv/Kconfig"
	source "drivers/media/video/exynos/rotator/Kconfig"
endif

choice
depends on VIDEO_EXYNOS
prompt "FIMC_IS(Image Signal Process) version"
default VIDEO_EXYNOS5_FIMC_IS
config VIDEO_EXYNOS5_FIMC_IS
	bool "Camera 1.0"
	help
		This will be use fimc_is_mc for camera 1.0

config VIDEO_EXYNOS5_FIMC_IS2
	bool "Camera 2.0"
	help
		This will be use fimc_is_mc2 for camera 2.0
endchoice

config MEDIA_EXYNOS
	bool
	help
	  Compile mdev to use exynos5 media device driver.
